<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Register</title>
    </head>
    <body>

        <div class="container">
            <h1 class="mt-5 mb-5 text-center text-primary"><b>Register</b></h1>

            <div class="row mt-5">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" style="font-size: 26px">Sign Up
                            <a class="btn text-danger" style="float: right; text-decoration: none" href="/views">Close</a></div>
                        <div class="card-body">
                            <form method="post" action="create">
                                <div class="mb-3">
                                    <label>ID:</label>
                                    <input type="text" name="id" placeholder="ID" class="form-control" required/>
                                </div>
                                <div class="mb-3">
                                    <label>First Name:</label>
                                    <input type="text" name="firstName" placeholder="First Name" class="form-control" required />
                                </div>
                                <div class="mb-3">
                                    <label>Last Name:</label>
                                    <input type="text" name="lastName" placeholder="Last Name" class="form-control" required />
                                </div>
                                <div class="mb-3">
                                    <label>Mobile Number:</label>
                                    <input type="text" name="phone" placeholder="Mobile Number" class="form-control" required/>
                                </div>
                                <div class="mb-3">
                                    <label>User Name:</label>
                                    <input type="text" name="username" placeholder="User Name" class="form-control" required/>
                                </div>
                                <div class="mb-3">
                                    <label>Password:</label>
                                    <input type="password" name="password" placeholder="Password" class="form-control" required/>
                                </div>
                                <div class="mb-3">
                                    <input type="submit" class="btn btn-primary" value="Sign Up" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>